html, body {
    background-image: linear-gradient(to bottom right, red, yellow);
    opacity: .95;
    height: 100%;
    margin: 0;
}

#search {
    background-color: rgb(139, 7, 7);
}

#submit {
    background-color: rgb(139, 7, 7);
}

.title-img {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

header {
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    color: rgb(115, 203, 27);
    text-shadow: 2px 2px black;
}

a:hover {
    color: darkgray;
}

.hide {
    display: none;
}